.header {
    background-color: #5865f2;
    min-height: 10vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: black;
    overflow: visible;
}

.avatar {
    height:64px;
}

.popver {
    position: relative;
    display: flex;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;*/
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1px;
    margin: 0 0 0 auto;
    float: right;
    margin-right: 5%;
}